
  /* #components-layout-demo-custom-trigger  */
  .logo {
    height: 32px;
    background: #404040;
    margin: 16px;
  }
  .container{
    position:absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;
  }